<form nz-form WS class="login-form" #f="ngForm">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please Enter todo title">
      <nz-input-group nzPrefixIcon="plus">
        <input type="text" nz-input placeholder="TITLE " #title />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please Enter todo description !">
      <nz-input-group nzPrefixIcon="comment">
        <input type="text" nz-input #description placeholder="DESCRIPTION" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button
    nz-button
    nzDanger
    style="background-color: #1890ff; color: #fff"
    nzType="dashed"
    type="button"
    (click)="submitForm(title.value, description.value, f)"
  >
    ADD TODO
  </button>
</form>
